name: luizm_action-sh-checker

on: [push]

jobs:
  luizm_action-sh-checker:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Run the sh-checker
        uses: luizm/action-sh-checker@v0.1.2
        env:
          SH_CHECKER_EXCLUDE_REGEX: '/.terraform/*'
          # SH_CHECKER_EXCLUDE_REGEX: '/.terraform/\'
          # The regex to filter the files or directories that don't need to check.
          # SH_CHECKER_SHFMT_DISABLE: "true"
          # If true, it will skip the shfmt. Default is false
          # SH_CHECKER_SHELLCHECK_DISABLE: "true"
          # If true, it will skip the shellcheck. Default is false
